@import "tailwindcss";

body {
  font-family: "Source Sans 3", sans-serif;
}

.Hero-Section {
  background-image: url("./assets/vectors/Vector.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
